@mixin flexNav {
    display: flex;
    list-style: none;
}

@mixin cumpleanos {
   display: flex;
  flex-direction: row;
  gap: 15px;
  padding-bottom: 45px;
}

@mixin cumpleanero {
    padding-left: 25px;
    text-align: center;
}

@mixin cumpleCard {
    padding:20px;
    border: 1px solid #656464;
    border-radius: 16px;
    background-color:#F0F0F0;
    margin-right: 25px;
}

@mixin fotocumpleanero {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

@mixin carrusel {
    width: 450px;
    height: auto; 
}

@mixin boton {
    margin-left: 25px;
    background-color: #b31d15;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 30px;

}

@mixin footer {
    background-color: black;
    display: flex;
    .logo {
    padding-top: 10px;
}
}

@mixin footernavegacion {
    display: flex;
    list-style: none;
    padding-top: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
    a {
    padding-top: 35px;
    padding-left: 25px;
    text-decoration: none;
    color: white;
    font-size: 15px;
} 
}

@mixin dropdown {
    ul .dropdown-menu {
    background-color: #b31d15;
.dropdown-menu li a:hover {
    background-color: #9d1811;    
}
}
}

@mixin tablas {
      border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

@mixin banner {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}